<div id="templatemo_menu">
        <ul>
            <li><a href="#" class="current"><span></span>Home</a></li>
            <li><a href="/suppliers/new"><span></span>Supplier</a></li>
            <li><a href="/accounts/new"><span></span>Account</a></li>
            <li><a href="#"><span></span>Forum</a></li>            
            <li><a href="#"><span></span>About Us</a></li>
            <li><a href="/contactus/new"><span></span>Contact Us</a></li>
        </ul>   
	</div> <!-- end of menu -->